<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
	<title>爱创课堂</title>
<link href=".././admin/mobile/style.css?d1096707d45aac42e9b7" rel="stylesheet"></head>
<body>
	<!-- 容器 -->
	<div id="app"></div>
<script type="text/javascript" src=".././admin/mobile/lib.js?d1096707d45aac42e9b7"></script><script type="text/javascript" src=".././admin/mobile/main.js?d1096707d45aac42e9b7"></script></body>
</html>